<h1>Interview Lesson</h1>

<p>Topic: <%= @interview_lesson.topic %></p>
<p>Lesson: <%= @interview_lesson.question %></p>
<p>Link: <%= link_to "More Info", @interview_lesson.link, target: '_blank' %></p>