<h1>JavaScript Lesson</h1>

<p>Topic: <%= @javascript_lesson.topic %></p>
<p>Lesson: <%= @javascript_lesson.lesson %></p>
<p>Link: <%= link_to "More Info", @javascript_lesson.link, target: '_blank' %></p>