<footer class="footer position-absolute bottom-0 end-0">
  <div class="container">
    <p class="footer-text">Snackable Code Refreshments</p>
  </div>
  <div class="footer-row row-1"></div>
  <div class="footer-row row-2"></div>
  <div class="footer-row row-3"></div>
</footer>