<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
      <h2 class="mb-4"><%= params[:type].capitalize %> Lessons</h2>

      <div class="list-group">
        <% @lessons.each do |lesson| %>
          <%= link_to lesson_path(type: @lesson_type, id: lesson.id), class: "list-group-item list-group-item-action d-flex justify-content-between align-items-center" do %>
            <span>Lesson <%= lesson.id %>: <%= lesson.topic %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
