/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap';

 .navbar-custom {
  background-color: #63b0e0;
  // background-color: #2c358c;
}

 .navbar-brand h3 {
  font-family: 'YourFontFamily', sans-serif;
  color: #FFFFFF;
}

.navbar-nav .nav-link {
  font-family: 'YourFontFamily', sans-serif;
  color: #FFFFFF;
}

.navbar-nav .nav-link.active {
  color: #FFFFFF;
}

.navbar-nav .nav-link:hover {
  color: #e8aa43;
}

.custom-btn1 {
  background-color: #ee6826; // Set your desired button color
  border-color: #601948; // Set your desired border color
  color: #FFFFFF; // Set your desired text color
}

.custom-btn1:hover {
  background-color: #e8aa43; // Set your desired hover button color
  border-color: #601948; // Set your desired hover border color
  color: #FFFFFF; // Set your desired hover text color

}
.custom-btn2 {
  background-color: #e8aa43; // Set your desired button color
  border-color: #601948; // Set your desired border color
  color: #FFFFFF; // Set your desired text color
}

.custom-btn2:hover {
  background-color: #ee6826; // Set your desired hover button color
  border-color: #601948; // Set your desired hover border color
  color: #FFFFFF; // Set your desired hover text color

}
.custom-btn1 {
  background-color: #ee6826; // Set your desired button color
  border-color: #601948; // Set your desired border color
  color: #FFFFFF; // Set your desired text color
}

.custom-btn:hover1 {
  background-color: #e8aa43; // Set your desired hover button color
  border-color: #601948; // Set your desired hover border color
  color: #FFFFFF; // Set your desired hover text color

}

.body {
  flex: 1;
  margin-bottom: 160px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-row {
  height: 20px; // Adjust the height as needed
}

.row-1 {
  background-color: #e8aa43; // First row color
}

.row-2 {
  background-color: #ee6826; // Second row color
}

.row-3 {
  background-color: #601948; // Third row color
}

.footer-text {
  color: #63b0e0; // Custom text color
  font-size: 20px; // Adjust font size as needed
  font-family: 'YourFontFamily', sans-serif;
  font-style: italic;
}

.list-group-item {
  transition: background-color 0.2s ease-in-out;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}

.custom-badge {
  background-color: #007bff;
  color: white;
}
